# OS
.DS_Store

# Editors
.idea/
.vscode/

# Python
__pycache__/
.pytest_cache/
.venv/
dist/
build/
*.egg-info/

# JavaScript
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Environment
.env
.env.*
